<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :thing_id %><br>
    <%= f.number_field :thing_id %>
  </div>
  <div class="field">
    <%= f.label :orderer_id %><br>
    <%= f.number_field :orderer_id %>
  </div>
  <div class="field">
    <%= f.label :material_id %><br>
    <%= f.number_field :material_id %>
  </div>
  <div class="field">
    <%= f.label :unitary_price %><br>
    <%= f.text_field :unitary_price %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
